html, body {
  margin: 0;
  padding: 0;
  width:100%;
  height: 100%;
}
#main{
  width: 800px;
  height:500px;
  /* margin: 0 auto; */
  margin-top: 30px;
}
/* .handsontable{
  width: 800px;
  height:500px;
  margin: 0 auto;
} */
p{
  margin-left: 350px;
} 